*{
  margin: 0;
  font-family: sans-serif;
}

.container{
  width: 960px;
  margin-left: 240px;
  margin-right: 240px;
}

.select-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4511E;
    border-radius: 16px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    color: #fff;
    border: 0;
}

.pizza-photo{
    width: 220px;
    height: 220px;
}

.section-title{
  width: 500px;
  height: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #141C24;
  margin-bottom: 24px;
}

.subtitle{
  width: auto;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #141C24;
  margin-bottom: 6px;
}

.input-field{
  height: 48px;
  border-radius: 8px;
  border: 1px solid #CED2DA;
  background-color: #FFFFFF;
  padding-left: 12px;
}