.basket-container{
    margin-left: 240px;
}

.order-result{
    width: 960px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.text-result{
    width: 608px;
    height: 32px;
}

.cost{
    display: inline-block;
    margin-right: 24px;
}

.price{
    display: inline-block;
}

.order-btn{
    width: 328px;
}

.chosen-pizza-block{
    margin-bottom: 24px;
}

.line{
    width: 960px;
    border: 1px solid #E3E5E5;
    margin-bottom: 24px;
}

.enter{
    color: #FFF;
    text-decoration: none;
}