.aut-block{
    display: flex;
    flex-direction: column;
}

.enter-block{
    width: 464px;
    height: 74px;
    margin-bottom: 24px;
}

.btn-module{
    width: 464px;
    height: 88px;
    display: flex;
    justify-content: space-between;
}

.back-btn{
    width: 220px;
    background-color: #FFFFFF;
    border: 1px solid #CED2DA;
}

.enter-back{
    color: #344051;
    text-decoration: none;
}

.cont-btn{
    width: 220px;
}

.information-input{
    width: 464px;
}