.card-bank{
    width: 381px;
    height: 212px;
    border-radius: 16px;
    padding: 24px;
    background-color: #F3F4F6;
}

.number-card{
    width: 333px;
    height: 74px;
    margin-bottom: 16px;
}

.number-field{
    width: 333px;
    
}

.hidden-infa{
    width: 333px;
    height: 74px;
    display: flex;
    justify-content: space-between;
}